{% extends "base.html" %}

{% block script %}
<!-- <script type="text/javascript" src="{{ STATIC_URL }}javascripts/upload.js"></script> -->
{% endblock %}

{% block header %}
<section></section>
<section>上新</section>
<section></section>
{% endblock %}

{% block body %}
<form id='editform' enctype="multipart/form-data" method='post'>
<div class='u-box m-ipt-group2'>
    <ul id="upload_ul">
        <li class='first'>
        <input type="text" placeholder='分类' name="catalog" id="catalog" value="{{ entry.catalog }}">
        </li>

        <li>
        <input type="text" placeholder='主标题' name="name" id="name" value="{{ entry.name }}">
        </li>

        <li>
        <input type="txet" placeholder='活动标题' name="subname" id="subname" value="{{ entry.subname }}">
        </li>

        <li>
        <input type="text" placeholder='原价' name="price" id="price" value="{{ entry.price }}">
        </li>

        <li>
        <input type="text" placeholder='现价或折扣价' name="discount" id="discount" value="{{ entry.discount }}">
        </li>

        <li>
        <input type="file" placeholder='图片' name="pic" id="pic" value="{{ entry.pic }}">
        </li>

        <!-- <textarea name="desc" rows="5" cols="40">{{ entry.disc }}</textarea> -->
    </ul>
</div>

<div class='m-login'>
    <input class='u-btn-blue u-btn-fullwd u-txt-white18'
    id='upload_form_submit_btn' type='submit' value='确定'/>
</div>
</form>

{% endblock %}
