<li goods="{{ each['_id'] }}" price="
            {% if each['discount'] %}
                {{ float(each['discount'])*100 }}
            {% else %}
                {{ float(each['price'])*100 }}
            {% end %}
            " style="margin-bottom: 0px;height: 151px; overflow: hidden;">
<div class='u-box m-cartitem f-clr' goods="{{ each['_id'] }}" style="overflow: hidden;margin-top: 10px;">
    <a href="/goods?shop_id=swust&goods_id={{ each['_id'] }}">
		<img src="{{ each['image2'] }}" width='94' height='94'>
        <h2>
            {% if each['subname'] %}
            <font style="color:red;">{{ each['subname'] }}</font>
            {% end %}
            {{ each['name'] }}
        </h2>
        <div class='price'>
            {% if each['discount'] %}
                <span>¥{{ each['discount'] }}</span>
            {% else %}
                <span>¥{{ each['price'] }}</span>
            {% end %}
        </div>
    </a>
    <div class='number' style="z-index: 10;">
        <span>购买数量：</span>
        <input type="number" value='1' start_unit="1" goods_id="{{ each['_id'] }}">
        <button type='button' class='remove' goods_id="{{ each['_id'] }}">删除</button>
    </div>
</div>
</li>
