<a href="/goods?shop_id=swust&goods_id={{ each['_id'] }}">
    <li>
    <div>
		<!-- <img src="{{ static_url("images/icons/empty.png") }}" data-url="{{ each['image2'] }}" width='85' height='85'> -->
		<img src="{{ each['image2'] }}" width='85' height='85'>

        <h3>
            {% if each['subname'] %}
            <font style="color:red;">{{ each['subname'] }}</font>
            {% end %}
            {{ each['name'] }}
        </h3>

        <p class='u-price-red'>
            {% if each['discount'] %}
                ¥{{ each['discount'] }}
            {% else %}
                ¥{{ each['price'] }}
            {% end %}
        </p>
    </div>
    </li>
</a>
