{% extends "base.html" %}

{% block header %}
<section>
	<a href="javascript:history.go(-1);">
		<span class="return">返回</span>
	</a>
</section>
<section>商品分类</section>
<section></section>
{% end %}

{% block body %}
<div class='m-list3c f-clr m-choosecls'>

	<ul>
		<li class='m-box book'>
		<a href="/c_show?shop_id=swust&class_id=101&page=1">
			<div></div>
			<i>图书</i>
		</a>
		</li>

		<li class='magazine'>
		<a href="/c_show?shop_id=swust&class_id=102&page=1">
			<div></div>
			<i>杂志</i>
		</a>
		</li>

		<li class='food'>
		<a href="/c_show?shop_id=swust&class_id=103&page=1">
			<div></div>
			<i>食品</i>
		</a>
		</li>

		<li class='wine'>
		<a href="/c_show?shop_id=swust&class_id=104&page=1">
			<div></div>
			<i>酒水</i>
		</a>
		</li>

		<li class='commodity'>
		<a href="/c_show?shop_id=swust&class_id=105&page=1">
			<div></div>
			<i>生活日用</i>
		</a>
		</li>

		<li class='ticket'>
		<a href="/c_show?shop_id=swust&class_id=106&page=1">
			<div></div>
			<i>演出票</i>
		</a>
		</li>

		<li class='flower'>
		<a href="/c_show?shop_id=swust&class_id=107&page=1">
			<div></div>
			<i>鲜花</i>
		</a>
		</li>

		<li class='present'>
		<a href="/c_show?shop_id=swust&class_id=108&page=1">
			<div></div>
			<i>礼盒礼券</i>
		</a>
		</li>

	</ul>
</div>

{% end %}
