{% extends "base.html" %}

{% block header %}
<!-- <section></section> -->
<section style="width: 100px;">
	<span class="city">西科</span>
</section>

<section>洋葱头</section>
<section></section>
{% end %}

{% block body %}
<!-- <style> .m-slider ul,.m-slider li {height: 132px;display: block;overflow: hidden;} </style> -->
<!-- <div class="m-slider"> -->
<!-- 	<ul id="slider" style="width: 300px;margin: 0 auto;"> -->
<!-- 		<li> <a title="周五拍卖会" href="http://weibo.com/1732050982/Azf0KuCfz?mod=weibotime"> -->
<!-- 			<img alt="周五拍卖会" src="http://pic.onionisi.com/m/picdata/publish/14/03/all_ad_dt_33.jpg"></a> -->
<!-- 		</li> -->
<!-- 	</ul> -->
<!-- </div> -->
<!-- <script> -->
<!-- $('#slider').slider({loop:true,showArr:false}); -->
<!-- </script> -->

<!-- 搜索 -->
<!-- <div class="m-box m-search u-w300 f-clr" style="margin-top: 15px;"> -->
<!--     <form id="searchfrom" method="get" action="http://m.onionisi.com/s/search.php"> -->
<!--     <input type="text" name="wd" class="ipt f-fl" placeholder="请输入您想搜索的商品名称"> -->
<!--     <input type="hidden" name="shop_id" value="chd"> -->
<!--     <button type="submit" class="f-fr u-btn-orange u-btn-w70s14">搜索</button> -->
<!--     </form> -->
<!-- </div> -->

    <!-- <ul class="m-navicon2 f-clr f-mt10"> -->
    <!--   <li><a href='/mine'><button class="my-menu-my"></button>我的面板</a></li> -->
      <!-- <li><a href="/class"><button class="my-menu-cls"></button>商品分类</a></li> -->
      <!-- <li><a href="/cart"><button class="my-menu-cart"></button>购物车</a></li> -->
      <!-- <li><a href="/my_order_fav"><button class="my-menu-fav"></button>我的收藏</a></li> -->
    <!-- </ul> -->

    <!-- <div class='m-clsgroup f-clr'> -->
    <!--     <ul class='f-clr'> -->
    <!--         <a href="/c_show?shop_id=swust&amp;class_id=109&amp;page=1"><li>营养健康</li></a> -->
    <!--         <a href="/c_show?shop_id=swust&amp;class_id=103&amp;page=1"><li>休闲食品</li></a> -->
    <!--         <a href="/c_show?shop_id=swust&amp;class_id=104&amp;page=1"><li>酒水饮品</li></a> -->
    <!--         <a href="/c_show?shop_id=swust&amp;class_id=110&amp;page=1"><li>食材</li></a> -->
    <!--         <a href="/c_show?shop_id=swust&amp;class_id=105&amp;page=1"><li>生活日用</li></a> -->
    <!--         <a href="/c_show?shop_id=swust&amp;class_id=113&amp;page=1"><li>蓝印花布</li></a> -->
    <!--         <a href="/c_show?shop_id=swust&amp;class_id=112&amp;page=1"><li>数码文具</li></a> -->
    <!--         <a href="/c_show?shop_id=swust&amp;class_id=101&amp;page=1"><li>图书</li></a> -->
    <!--         <a href="/c_show?shop_id=swust&amp;class_id=102&amp;page=1"><li>杂志</li></a> -->
    <!--         <a href="/c_show?shop_id=swust&amp;class_id=106&amp;page=1"><li>演出票</li></a> -->
    <!--         <a href="/c_show?shop_id=swust&amp;class_id=107&amp;page=1"><li>鲜花</li></a> -->
    <!--         <a href="/c_show?shop_id=swust&amp;class_id=108&amp;page=1"><li>礼品卡/礼品册</li></a> -->
    <!--     </ul> -->
    <!-- </div> -->

    <!-- 每日活动 -->
    <!-- <div class="u-box u-w300"> -->
    <!--     <div style="padding: 5px 5px;"><div class="slogan"><a title="今日限时低价 有机厨坊天然红薏仁粉" href="http:/m/g/g_info.php?shop_id=bj&amp;goods_id=A001352909026">【今日限时低价】有机厨坊天然红薏仁粉  限时价84元 立减14元</a></div></div> -->
    <!-- </div> -->

	<div class="u-box u-w300">
		<div style="padding: 5px 5px;">
			<div class="slogan">
                <p>【本周活动】石头剪子布,赢了就送你 ;-)</p>
                <p>【菜品更新】每周菜品销售末两位会被取代</p>
                <p>【送餐时间】11:30--19:00，30min不到半价！</p>
                <!-- <p><font style="color:red;">30分钟送达！</font></p> -->
			</div>
		</div>
	</div>

    <div class='m-list3c m-list3c-pro f-clr'>
        <!-- <a href="/xinpin"><h2>最新上架</h2></a> -->
        <!-- <h2 class="noarrow">今日供应</h2> -->
        <ul>
            {% for each in entry_first %}
                {% module Index(each) %}
            {% end %}
        </ul>
    </div>

{% end %}
