{% extends "base.html" %}

{% block script %}
<script type="text/javascript" src="{{ static_url("javascripts/addrcode.js") }}"></script>
<script type="text/javascript" language="javascript">
try{
	order_id = '{{oid}}';
}catch (e){
	order_id = '';
}
$(document).ready(function() {
		$("div[data]").click(function(){
			saddr($(this).attr("data"));
		});
});

function saddr(id){
	$("input[name=myaddr2]").val(id)
		$("#saddr").submit();
}
</script>
<style type="text/css">
/* 会员中心框 */
.member-my-box {
	background-color:#FFFFFF;
	border:none;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 2px rgba(0, 0, 0, 0.07);
	-moz-box-shadow: 0 2px rgba(0, 0, 0, 0.07);
	box-shadow: 0 2px rgba(0, 0, 0, 0.07);
	padding: 10px 5px ;
	width:300px;
	margin:10px auto;
	font-size:14px;
	font-family:"微软雅黑";
}
.address-box {font-size:14px; line-height:22px;}
.address_name, .address_mobile, .address_state {height:22px;}
.address_name, .address_info {width:280px; word-break:break-all; margin:0px auto;}
.address_mobile {width:215px; float:left; margin-left:10px;}
.address_state {width:65px; float:right; text-align:right; overflow:hidden; color:#999999; margin-right:10px;}
</style>
<style type="text/css"></style>
{% end %}

{% block header %}
<section>
	<a href="javascript:history.go(-1);"><span class="return">返回</span></a>
</section>
<section>
	<h1 class="title">收货地址管理</h1>
</section>
<section></section>
{% end %}

{% block body %}
{% for addr in addrs %}
	{% module Addr(addr, addrs.index(addr)) %}
{% end %}
<div class="u-w300">
	<button id="add_address_btn_1" class="u-btn-orange u-btn-fullwd btn-addcart u-txt-white18" url_to="/my_account_address_add_form?order_id={{ oid }}">添加收货地址</button>
</div>

{% if oid %}
<form method="post" action="/order_show?order_id={{oid}}" id="saddr">
	<input type="hidden" name="myaddr2" value="">
</form>
{% end %}
{% end %}
